
<form name="editForm" role="form" novalidate ng-submit="vm.save()"
	show-validation>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="vm.clear()">&times;</button>
		<h4 class="modal-title" id="myMessageLabel">Add product to stock</h4>
	</div>

	<div class="ng-top-margin:10px; col-md-12">
		<div class="alert alert-danger" ng-show="vm.error">
			<strong>Failed to add product to stock! </strong> {{vm.errorMessage}}
		</div>
	</div>

	<div class="modal-body">
		<div class="form-group" ng-show="vm.user.id">
			<label for="id">ID</label> <input type="text" class="form-control"
				id="id" name="id" ng-model="vm.product.id" readonly />
		</div>
		<div class="form-group">
			<label class="control-label" for="field_name">Product Name</label> <select
				class="form-control" ng-model="vm.product.product" required
				name="name" id="field_name"
				ng-options="product.name for product in vm.productList">
			</select>
			<div ng-show="editForm.name.$invalid">
				<p class="help-block" ng-show="editForm.name.$error.required">
					This field is required.</p>
			</div>
		</div>


		<div class="form-group">
			<label class="control-label" for="field_product_id">Product
				ID</label> <input type="text" class="form-control" name="product_id"
				id="field_product_id" ng-model="vm.product.product.id" required
				readonly />
			<div ng-show="editForm.product_id.$invalid">
				<p class="help-block" ng-show="editForm.product_id.$error.required">
					This field is required.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="field_price">Price</label> <input
				type="text" class="form-control" name="price" id="field_price"
				ng-model="vm.product.product.price" required />
			<div ng-show="editForm.price.$invalid">
				<p class="help-block" ng-show="editForm.price.$error.required">
					This field is required.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="field_quantity">Quantity</label> <input
				type="text" class="form-control" name="quantity" id="field_quantity"
				ng-model="vm.product.quantity" required />
			<div ng-show="editForm.quantity.$invalid">
				<p class="help-block" ng-show="editForm.quantity.$error.required">
					This field is required.</p>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-click="vm.clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
		</button>
		<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
		</button>
	</div>
</form>
