@CHARSET "ISO-8859-1";

.bodyContainer{
	background-color: #ffefff;
}

.mainContainer {
	margin-top: 20px;
}

.appName {
	font-size: 30px;
	font-weight: bold;
	line-height: 1;
	letter-spacing: 1px;
	text-align: center;
}
.min-height-420{
	min-height:420px;
}

.grid-default {
  width: 100%;
  height: 250px;
}

.grid-dashboard {
  width: 100%;
  height: 320px;
}