<div ng-cloak>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Product Management</a>
			</div>
			<ul class="nav navbar-nav">
				<li ng-class="{active: vm.$state.includes('home')}"><a href="#" ui-sref="home">Home</a></li>
				<li ng-class="{active: vm.$state.includes('user')}"><a href="#" ui-sref="user">USER MANAGEMENT</a></li>
				<li><a href="#">Page 2</a></li>
				<li><a href="#">Page 3</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#" ng-click="vm.login();">Login</a></li>
				<li><a href="#">Log out</a></li>
			</ul>
		</div>
	</nav>

</div>